<div id="<%= dom_id bank_account %>">
  <td>
    <%= bank_account.account_number %>
  </td>

  <td>
    R$ <%= cent_to_real(bank_account.transaction_limit) %>
  </td>

  <td>
    <%= bank_account.bank_agency.agency_number %>
  </td>
</div>
