<div id="<%= dom_id bank_account %>">
  <td>
    <%= bank_account.account_number %>
  </td>

  <td>
    <%= bank_account.transaction_limit %>
  </td>

  <td>
    <%= bank_account.bank_agency_id %>
  </td>
</div>
